/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body{
    padding: 0px;
    margin:0px;
    color: #4a4a4a;
    font-family: 'Roboto', Arial, sans-serif;
    background: #f2f3f4;
}

.mat-mini-fab.mat-accent{
    background-color: #20e1d1
}

.loading-overlay{
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color:  rgba(255,255,255,.75)
}

.loading-spinner.mat-progress-spinner circle, .mat-spinner circle{
    stroke:  #e84678 !important;
}
