.mat-grid-tile{
    overflow: visible;
}

.filter-toolbar{
    font-size: .889em;
    color: #4a4a4a;
}

.filter-toolbar .mat-form-field{
    margin-top: 10px;
    width: 250px;
}

.mat-form-field i{
    margin-right:10px;
}

.home-container{
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    position: absolute;
}

.no-offers{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #d1d3d4;
}