<div class="tile-container  mat-elevation-z3" fxLayout="column" fxLayoutAlign="space-between stretch" [routerLink]="['/offer',offer.offer.id]">
  <div  fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" >
      <div class="name">{{offer.offer.name}}</div>
      <div *ngIf="offer.retailer" class="retailer" (click)="selectRetailer(offer.retailer)">{{offer.retailer.name}}</div>
    </div>
  </div>

  <div fxFlex class="product-image" [style.backgroundImage]="'url('+ offer.offer.image_url +')'"></div>
  <div>
    <p class="description">{{offer.offer.description}}</p>
  </div>
</div>